*{
  box-sizing: border-box;
}

.addItem input {
  width: 250px;
  height: 30px;
  padding-left: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.addItem button {
  width: 45px;
  height: 30px;
  border: 1px solid black;
  border-radius: 5px;
}

.section {
  margin-top: 15px;
}

.film-info {
  width: 300px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
}

.film-info + .film-info {
  margin-top: 5px;
}

.film-rating {
  margin-right: 10px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.rating-item {
  color: black;
  cursor: pointer;
}

.active,
.active ~ *,
.rating-item:hover,
.rating-item:hover ~ * {
  color: yellow;
}

.film-name {
  color: black;
  margin-left: 10px;
}


  